{% extends 'base.html' %}

{% block title %}Create Location{% endblock %}

{% block content %}
<div class="container">
  <h2 class="my-4">Create Location</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.description.label(class="form-label") }}
      {{ form.description(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.activities.label(class="form-label") }}
      {{ form.activities(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
